<div class="mainDiv">
  <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/open-book-38-626892.png">
  <span class="propertyTitle">Description</span>
  <p>{{this.selectedProject.description}}</p>
</div>
<div class="mainDiv">
  <img src="https://icons-for-free.com/iconfiles/png/128/print+id+touch+touch+id+icon-1320085897155330244.png">
  <span class="propertyTitle">ID</span>
  <p>{{this.selectedProject.id}}</p>
</div>
<div class="mainDiv">
  <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/company-1401564-1187571.png">
  <span class="propertyTitle">Company Name</span>
  <p>{{this.selectedProject.company_name}}</p>
</div>
<div class="mainDiv">
  <img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/7104608081548233620-128.png">
  <span class="propertyTitle">Conctact Name</span>
  <p>{{this.selectedProject.contact_name}}</p>
</div>
