.propertyTitle {
  display: inline;
  font-weight: bold;
  color: black;
}

img {
  width: 50px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px;
  float: left;
  margin: 0 15px 0 0;
}

.mainDiv {
  padding: 20px;
  font-size: 14px;
  background-color: #0563af;
  color: white;
  overflow: hidden;
  font-family: "Roboto", helvetica, arial, sans-serif;
  height: 85px;
}

@media screen and (max-width: 900px) {

  .panel {
    font-size: 10px;
  }

  .propertyTitle {
    font-size: 14px;
  }

  img {
    display: none;
  }

  .mainDiv {
    padding: 5px;
    height: auto;
    font-size: 10px;
  }

  p {
    margin: 1px;
  }

}
