@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 10px;
  font-weight: 10;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 15px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  /* border-top: 1px solid #22262e; */
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


.searchDiv {
  display: table;
  table-layout: fixed;
}

.filter {
  display: table-cell;
}

body {
  margin: 0;
  padding: 0;
  background-color: #004882;
}

.box {
  display: table-cell;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 14px;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::after {
  content: "\f13a";
  font-family: FontAwesome;
  position: relative;
  top: 0;
  right: 30px;
  width: 20%;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::after {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #0563af;
  font-size: 14px;
  background-color: white;
  background-image: url('https://img.icons8.com/cotton/2x/search--v1.png');
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: contain;
  margin-bottom: 10px;
}

input[type=text]:focus {
  width: 100%;
}

.detailsScreen {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

table {
  overflow-y: scroll;
  height: 500px;
  display: block;
}

@media screen and (max-width: 900px) {
  .searchDiv {
    display: grid;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 9px;
  }

  table {
    height: 300px;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  td:before {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: "Id";
  }

  td:nth-of-type(2):before {
    content: "Company Name";
  }

  td:nth-of-type(3):before {
    content: "Comments";
  }

  td:nth-of-type(4):before {
    content: "Publish Date";
  }

  td:nth-of-type(5):before {
    content: "Contact Name";
  }

  td:nth-of-type(6):before {
    content: "Title";
  }

  td:nth-of-type(7):before {
    content: "Location City";
  }

  td:nth-of-type(8):before {
    content: "Description";
  }
}
