<div class="searchDiv">
  <div class="box">
    <select #propertylist>
      <option value='title'>Title</option>
      <option value='publish_date'>Publish Date</option>
      <option value='location_city'>Location City</option>
      <option value='comments'>Comments</option>
    </select>
  </div>

  <form class="filter">
    <input type="text" name="filterInput" [(ngModel)]="term" placeholder="Search.." />
  </form>
</div>

<div style="display: flex;">
  <table *ngIf="arrProjects" id="responsive-table" class="detailsScreen">
    <thead>
      <tr>
        <th>Title</th>
        <th>Publish Date</th>
        <th>Location City</th>
        <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let project of arrProjects | filter: term:propertylist.value"
        (click)="this.changeProjectSelection(project)">
        <td>{{project.title}}</td>
        <td>{{project.publish_date | date}}</td>
        <td>{{project.location_city}}</td>
        <td>{{project.comments}}</td>
      </tr>
    </tbody>
  </table>
  <div class="detailsScreen">
    <app-project-details [selectedProject]="this.selectedProject"></app-project-details>
  </div>
</div>
