<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav" [ngClass]="this.getSmallScreenClass()">
  <a routerLink='/solution-one' routerLinkActive="active">Solution 1</a>
  <a routerLink="/solution-two" routerLinkActive="active">Solution 2</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>
