<div class="searchDiv">
  <div class="box">
    <select #propertylist>
      <option value='title'>Title</option>
      <option value='publish_date'>Publish Date</option>
      <option value='location_city'>Location City</option>
      <option value='comments'>Comments</option>
    </select>
  </div>

  <form class="filter">
    <input type="text" name="filterInput" [(ngModel)]="term" placeholder="Search.." />
  </form>
</div>

<div *ngFor="let project of arrProjects | filter: term:propertylist.value; let i = index;">
  <button class="accordion" (click)="this.toggleAccordian($event, i)">
    <div class="projectProperties">Title: {{project.title}}</div>
    <div class="projectProperties">Publish date: {{project.publish_date | date}}</div>
    <div class="projectProperties">Location city: {{project.location_city}}</div>
    <div class="projectProperties">Number of comments: {{project.comments}}</div>
  </button>
  <div class="panel" hide="!project.isActive">
    <div style="display: flex;">
      <div class="detailsRow">
        <ul>
          <li>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/open-book-38-626892.png">
            <span class="propertyTitle">Description</span>
            <p>{{project.description}}</p>
          </li>
        </ul>
      </div>
      <div class="detailsRow">
        <ul>
          <li>
            <img
              src="https://icons-for-free.com/iconfiles/png/128/print+id+touch+touch+id+icon-1320085897155330244.png">
            <span class="propertyTitle">ID</span>
            <p>{{project.id}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div style="display: flex;">
      <div class="detailsRow">
        <ul>
          <li>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/company-1401564-1187571.png">
            <span class="propertyTitle">Company Name</span>
            <p>{{project.company_name}}</p>
          </li>
        </ul>
      </div>
      <div class="detailsRow">
        <ul>
          <li>
            <img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/7104608081548233620-128.png">
            <span class="propertyTitle">Conctact Name</span>
            <p>{{project.contact_name}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
