@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.searchDiv {
  display: table;
  table-layout: fixed;
}

.filter {
  display: table-cell;
}

body {
  margin: 0;
  padding: 0;
  background-color: #004882;
}

.box {
  display: table-cell;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 14px;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::after {
  content: "\f13a";
  font-family: FontAwesome;
  position: relative;
  top: 0;
  right: 30px;
  width: 20%;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::after {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #0563af;
  font-size: 14px;
  background-color: white;
  background-image: url('https://img.icons8.com/cotton/2x/search--v1.png');
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: contain;
  margin-bottom: 10px;
}

input[type=text]:focus {
  width: 100%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #0563af;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

.detailsRow {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.projectProperties {
  float: left;
  width: 20%;
  pointer-events: none;
  padding: 3px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  overflow: auto;
}

img {
  width: 50px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px;
}

.propertyTitle {
  display: inline;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 900px) {

  .searchDiv {
    display: grid;
  }

  .panel {
    font-size: 10px;
  }

  .accordion {
    font-size: 10px;
    padding: 4px;
  }

  .propertyTitle {
    font-size: 14px;
  }

  img {
    display: none;
  }

  .detailsRow p {
    font-size: 10px;
  }

}
